*{
    font-family: Arial, Helvetica, sans-serif;
}

*:focus{
    outline: none;
}

body{
    background-color: #F1FAEE;
}

.title{
    color: #1D3557;
}

#name{
    color: #A8DADC;
    border: none;
    background-color: #F1FAEE;
    font-size: 25px;
    font-weight: 600;
}

h3{
    color: #457B9D;
    font-weight: 300;
    font-size: 15px;
}

H4{
    color: #457B9D;
    font-size: 13px;
    font-weight: 600;
}

#content{
    background-color: #F1FAEE;
    border: 2px solid #1D3557;
    border-radius: 5px;
    font-size: 17px;
    color: #1D3557;
    padding: 10px;
    width: 31%;
}



.submit{
    background-color: #1D3557;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: #F1FAEE;
    cursor: pointer;
    font-weight: 600;
    padding: 13px;
}

.todo-item{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    align-items: center;
    background-color: #1D3557;
    box-shadow: 1px 1px 1px .3px;
    border-radius: 20px;
    padding: 5px;
}

input[type=checkbox] {
    display: none;
}

span::before {
    content: '';
    background: transparent;
    border: 4px solid #457B9D;
    border-radius: 25px;
    display: inline-block;
    height: 13px;
    width: 13px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}



input[type=checkbox]:checked + span::before{
    content: '';
    background: #457B9D;
    border: 2px solid #1D3557;
    outline: 4px solid #457B9D;
    border-radius: 25px;
    display: inline-block;
    height: 9px;
    width: 9px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    margin: 4.5px;
}

.todo-list{
    width: 70%;
    margin: auto;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;

}

.content{
    border: none;
    background-color: #1D3557;
    color: #F1FAEE;
    width: 25rem;
    word-wrap: break-word;
    cursor:default;
    padding: 8px;
    font-weight: 600;
    font-size: 20px;
}

.content:focus{
    color: #A8DADC;
}

.actions{
    display: flex;
    flex-wrap: wrap;
    width: 12%;
    justify-content: space-between;
}

.edit{
    background-color: #457B9D;
    outline: 1px solid transparent;
    border-radius: 5px;
    padding: 5px;
    color: #F1FAEE;
    cursor: pointer;
    font-weight: 600;
    padding: 10px;
    margin-left: 5px;
}

.delete{
    background-color: #961010;
    outline: 1px solid transparent;
    border-radius: 5px;
    padding: 5px;
    color: #F1FAEE;
    cursor: pointer;
    font-weight: 600;
    padding: 10px;
}

